<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scraper</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
    <style>
        li {
            list-style: none;
        }
    </style>
</head>

<body>
    <header>
        <h1>Job Scraper</h1>
    </header>
    <main>
        <form action="/result">
            <input type="text" name="keyword" required />
            <button type="submit" value="search">search</button>
            <h3>Select sites you want to scrap from.</h3>
            <ul>
                {%for scraper in scraper_list:%}
                <li>
                    <input type="checkbox" name={{scraper}} id={{scraper}} checked />
                    <label for={{scraper}}>
                        {{scraper.capitalize().replace("_"," ")}}
                    </label>
                </li>
                {%endfor%}
            </ul>
        </form>
    </main>
</body>

</html>